/**
 * Container
 *
*/
.container {
  max-width: $container-max-width;
  margin: 0 auto;
  @include clearfix;
}

/* row to wrap columns */
.row {
  padding-bottom: 0em;
  @include clearfix;
}

/* remove margin of the first column */
.fc{
  margin-left: 0;
}

/* set default column */
@for $i from 1 through $grid-columns{
  .span#{$i} {
    @include span($i);
    float: left;
    display: inline; //IE6
  }
}

@for $i from 1 through $grid-columns{
  .push#{$i} {
    @include push($i);
  }
}

@for $i from 1 through $grid-columns{
  .pull#{$i} {
    @include pull($i);
  }
}

@for $i from 1 through $grid-columns{
  .offset#{$i} {
    @include offset($i);
  }
}

/**
 *  Media Queries
 */

@media ( min-width : $screen-min-width ) {
  @for $i from 1 through $grid-columns{
    .gutters .span#{$i} {
      @include gutters_span($i);
    }
  }
}
