// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
@mixin clearfix{
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}

@mixin span($columns){
  width: percentage($columns / $grid-columns);
}

@mixin gutters_span($columns){
  width: $grid-width * $columns + $grid-gutter-width * ($columns - 1);
}

@mixin push($columns){
  position: relative;
  left: percentage($columns / $grid-columns);
}

@mixin pull($columns){
  position: relative;
  right: percentage($columns / $grid-columns);
}

@mixin offset($columns){
  margin-left: percentage($columns / $grid-columns);
}